h1 {
  background-color: rgb(218, 12, 12);
  font-family: Arial, sans-serif;
  text-align: center;
  /*border-radius: 50%;*/
  margin: 2% 32%;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

